@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

h1{
    font-family: 'Staatliches', cursive;
    align-items:center;
}
h2{
   display:block;
   float:left;
   margin:0%;

}
a{
    color:white !important;
    font-family: 'Staatliches', cursive;
    display:block;
    overflow:hidden;
    font-size: 150%;
    text-decoration: none !important;
}
li{ 
    font-family: 'Staatliches', cursive;
    color:black;
    display:block;
    overflow:hidden;
    text-align: center;

}
.header{
    background-color:#203253;
    display:flex;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
    padding: 2px 0px;
    float:center;
}
.item{
    padding: 15px 0px;
    text-align:center;
}

.intro-text{
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    text-align: center;
}
.handshaking{
    position: absolute;
    display: block;
    top: 35%;
    left:55%;
}
.second{
    display:flex;
    padding: 10px 10%;
    float:center !important;
}
.container{
    padding: 10px 10%;
    float:center;
}
.logo{
    cursor:pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display:inline-block;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #8a8a8a
}
/* button{
    padding:9px 25px;
    background-color: rgb(38, 38, 38);
    border :none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(58, 58, 58);
} */
.footer {
    padding: 30px 0px;
    width: 100%;
    background-color: #203253;
    color: white;
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Staatliches', cursive;

}
.social_media{
    list-style:none;
    padding: 3px 0px 3px 10px;
    margin: 0;
    float:left;
}
.size-intro{
    position: relative;
    z-index: -100;
}
.image-button1{
    background: transparent;

    border-radius: 12px;
    border: 7px solid #bf4f4f !important;
    font-family: 'Staatliches', cursive;
    font-size: 165%;
    color:black !important;
    text-decoration: none;
}
.image-button2{
    background: transparent;

    border-radius: 12px;
    border: 7px solid #bf4f4f !important;
    font-family: 'Staatliches', cursive;
    font-size: 165%;
    color:black !important;
    text-decoration: none;
}
.footer-logo{
    float:center;
}
.menu-border{
    border-right: 5px solid white;
}
.dropdown-menu{
    font-family: 'Staatliches', cursive;
    background-color: white;
    background-color: rgba(255,255,255,.4) !important;
}
.dropdown-item{
    color:black !important;
}
.btn-outline-success{
    color:white!important;
    border-color: white !important;
}
.fa-chevron-right{
    color: #bf4f4f;
}
